
body {
    display: grid;
    grid-template-columns: [left-side]1fr[sidebar]200px [content-col]350px [right-side]1fr;
    grid-template-rows:[header-headspace]20px [header]100px [content-row]1fr [content-creator]auto [footer] 100px;
    grid-gap:5px 10px;
    
    color:lightgrey;
    background-color:#4a525a;
    font-family:sans-serif;
    font-size: .8rem;
    line-height: 1.3rem;
    padding:0;
    margin:0;
} 

#pillars {
    visibility:hidden;
}

/*--eyeball start----------*/ 
.switch{
    display:flex;
    justify-content: flex-end;
    padding-bottom: 10px;
} 

.switch input {
    opacity: 0;
    position:inherit;
}

#eyeball {
    position: absolute;
    cursor: none;
    background: inherit;
    transition: 1s;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: inset 0px 2px 0px 10px; 
}

.light-mode #eyeball {
    cursor: none;
    background: inherit;
    transition: 1s;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: inset -3px 5px 0px 10px; 
}

/*--eyeball end----------*/ 

.light-mode {
  background: rgb(242 242 255);
  color: rgb(30 30 40);
}

#Logo {
    grid-column: 2;
    grid-row: 2;
    opacity: .5;
    align-content: left;
}

.light-mode #Logo {
    grid-column: 2;
    grid-row: 2;
    opacity: .5;
    filter: invert(.3);
}

#Logo:hover {
    background: rgb(64 72 80);
    width: 240px;
    height: 56px;
    opacity: .8;
}

.light-mode #Logo:hover {
     background: rgb(12 10 10);
    width: 240px;
    height: 56px;
    opacity: .9;
}

/*--Sidebar Start----------*/

#Sidebar {
    visibility: visible;
    padding-top: 1px;
    padding-right: 40px;
    grid-column: 2;
    grid-row: 3;
    opacity:.9;
    border: 0;
    text-align: right;
}


#Sidebar ul{
    list-style-type: none;
    padding: 30px 0px 60px 40px;
    letter-spacing: 2px;
    border:0;
}

#Sidebar li:hover{
    color: white;
    background-color: darkgrey;
    border:0;
}

.light-mode #Sidebar li:hover{
    color: darkgrey;
    background-color: black;
    border:0;
}

h2:hover {
    color:white;
    background: darkgrey;
    width: fit-content;
}


#Cicero:hover {
    transform:scale(1.01);
    opacity:.5;
}

.light-mode #Cicero:hover{
    transform:scale(1.01);
    opacity:.5;
    filter:invert(.9);
}

#Quote {
    color: darkgrey;
    margin: 0;
}
/*--Sidebar End----------*/

/*--Main Content Start----------*/
#Content{
    grid-column: 3;
    grid-row: 3;
}
.Story {
    padding-bottom: 40px;
}
h4 {
    color:darkgrey;  
    font-size: .8rem
}
.light-mode h4 {
    color:black;  
    font-size: .8rem
}
h2 {
    padding: 2px 2px 0px 2px;
    font-family: "Gill Sans MT", "Gill Sans", "Gill Sans Std", Georgia, serif;
    font-size: 1.2rem;
    line-height: 1.4em;
    width: fit-content;
  

    letter-spacing: .15em;
    text-transform: uppercase;
    font-weight: normal;
}
p {
    margin: 0 0 1.6em 0;
    padding: 0;
}
/*--Main Content End----------*/
 
/*>>>-Content Creator Start---*/
#content-creator {
    grid-area: 4/3;
    background: rgba(150, 150, 160, .15);
    opacity: .9;
    background-blend-mode: soft-light;
    padding: 1%;
    margin-bottom: 50px;
    box-shadow: inset 2px 1px 30px 2px rgba(90, 70, 50, .08), 20px 20px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: .5%;
    display: grid;
    grid-template-columns: .6fr 1fr .6fr;
    grid-template-rows: .7fr 3fr .5fr;
}

#content-creator h2{
    margin: 1px 0 0 3%;
}


.top-of-cc {
    grid-area: 1/1;
    grid-column-end: 4;
    margin-bottom: 1px
}
.top-of-cc input {
    background: rgba(114, 112, 110, .7);
    color: rgb(220 230 240);
    width: 90%;
    padding: 2px 4px;
    border-color: rgba(60, 10, 10, .15) rgba(200, 190, 190, .15) rgba(200, 190, 190, .15) rgba(60, 10, 10, .15);
    border-style: inset;
    border-width: 2px;
    border-radius: 2%;
    margin: 1px 3%;
    font-family: sans-serif;
    box-shadow:0 0 15px 4px rgba(60, 10, 10, .1);
}

.story-body-cc {
    grid-area: 2/1;
    grid-column-end: 4;
    grid-row-end: 3;
}
.story-body-cc textarea {
    font-family: sans-serif;
    width: 90%;
    height: 80%;
    padding: 2px 4px;
    resize: none;
    background: rgba(94, 102, 100, .7);
    color: rgb(220 230 240);
    border-color: rgba(60, 10, 10, .15) rgba(200, 190, 190, .15) rgba(200, 190, 190, .15) rgba(60, 10, 10, .15);
    border-style: inset;
    border-width: 2px;
    border-radius: 2%;
    box-shadow:0 0 15px 4px rgba(60, 10, 10, .1);
    margin: 9px 3%;
}
::placeholder {
    color: rgb(194 202 210);
}
#button-cc {
    grid-area:3/3;
    background: rgba(70, 90, 85, .5);
    border-radius: 5%;
    height: 20px;
    text-align: center;
    color: rgb(214 202 190);
    box-shadow: 2px 2px 1px 1px rgba(10, 10, 10, .2);
    margin: 5% 14% 0 0;
}
#button-cc:hover {
    filter:invert(.3);
    cursor: pointer;
}

/*<<<-Content Creator End-----*/

/*--Footer--------------------*/
.Footer {
   
    grid-column: 3;
    grid-row: 5;
    font-size: 0.7rem;
    margin: 5px 5px;
  
}